<%- include("partials/header") %>

<h1>Compose</h1>

<form action="/compose" method="post">
  <label for="">Title</label>
  <input type="text" class="form-control" name="i1" />
  <label for="">Post</label>  
  <textarea name="tarea" id="" cols="30" rows="5" class="form-control"></textarea><br>
  <button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include("partials/footer") %>
